.side_bar
  .header
    .header__name
      = current_user.name
      %b fujii
    .header__icon
      =link_to "#" do
        = icon('fas', 'comment-alt')
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog')

  .contents
    .group
      .group__name
        %b グループ名
      .group__message
        %b 新着メッセージ
    .group
      .group__name
        %b グループ名
      .group__message
        %b 新着メッセージ

